@font-face {
    font-family: 'Cinzel', serif;
    font-style: normal;
    font-weight: normal;
   
    src: local('SEGA FONT'), url('SEGA.woff') format('woff') ;
}

h1 {
    font-family: 'Cinzel', serif;
    color: #a74004;
}